      <% @friends.each do |friend| %> 
      <div class="paginate_do">
        <% if friend.uuid == current_user.uuid %>
          <% next %>
        <% end %>
        <div class="col-xs-12 col-md-6 col-lg-4 plr0-sm">
          <!-- START Widget Panel -->
          <div class="widget panel">
            <!-- panel ribbon -->
            <a href="/users/<%= friend.uuid %>/" class="panel-ribbon panel-ribbon-primary"><i class="ico-info"></i></a><br/>
            
            <!--/ panel ribbon -->
            <!-- panel ribbon -->
            <% @like = current_user.rels(dir: :outgoing, type: :likes, between: friend).blank? ? true : false %>

            <% if @like %>
            <a href='/users/<%= friend.uuid %>/likes' class='panel-ribbon-60 panel-ribbon pull-right like' data-remote='true'><i class='ico-heart icon-white icon-font-22'></i></a>
            <% else %>
            <a href='/users/<%= friend.uuid %>/likes' class='panel-ribbon-60 panel-ribbon pull-right like' data-remote='true'><i class='ico-heart icon-red icon-font-22'></i></a>
            <% end %>

            <!--/ panel ribbon -->

            <!-- Thumbnail -->
            <div class="thumbnail">
              <!-- media -->
              <div class="media">
              <div  class="gallery">
              <a href="<%= cloudinary_url(friend.default_pic, :crop => :fill) %>">
                  <div class="meta bottom pb5 pr10">
                      <p class="pull-right nm font-15 icon-silver"><i class="ico-camera10"></i> <span class="semibold font-18"><%= friend.pictures.where(visible: true).nil? ? 0 : friend.pictures.where(visible: true).count %></span></p>
                  </div>
                    <img src='<%= cloudinary_url(friend.default_pic, :width => 340, :height => 400, :crop => :fill, :gravity => :face) %>' height="100%">
                  </a>
                  <% friend.pictures.where(visible: true).each do |picture| %>
                  <a href="<%= cloudinary_url(picture.pic, :crop => :fill) %>" class="dis-none-imp">
                    <img src='<%= cloudinary_url(picture.pic, :width => 30, :height => 40, :crop => :fill, :gravity => :face) %>' height="100%">
                  </a>
                  <% end %>
                </div>
              </div>
              <!--/ media -->
            </div>
            <!--/ Thumbnail -->
            <!-- meta -->
            <span class="meta bottom">
              <h4 class="semibold mt10 text-center"><%= friend.name %></h4>
            </span>
            <!--/ meta -->
            <!-- blockquote -->
            <% unless friend.status.nil? %>
            <div class="m10-p10">
              <blockquote class="mt5 text-muted text-center m0-p10">
                <p class="font-15 icon-black"><%= friend.status %></p>
              </blockquote>
            </div>
            <% end %>
            <!--/ blockquote -->
            <!-- panel body -->
            <div class="panel-body pl5 pr5">
             <!-- Nav section -->
             <ul class="nav nav-section nav-justified">
              <li>
                <div class="section">
                  <h4 class="nm">
                    <i class="flaticon-add185 icon-red img-responsive center_block icon-font-35"></i>
                  </h4>
                  <h4 class="nm mt5"><%= friend.rels(dir: :incoming, type: "likes").count %></h4>
                </div>
              </li>
              <li>
                <div class="section">
                  <h4 class="nm">
                    <i class="flaticon-medal3 icon-gold img-responsive center_block icon-font-35"></i>
                  </h4>
                  <h4 class="nm mt5"><%= friend.getBadges.where(status: true).count %></h4>
                </div>
              </li>
              <li>
                <div class="section">
                  <h4 class="nm">
                    <i class="flaticon-quill1 icon-blue img-responsive center_block icon-font-35"></i></h4>
                    <h4 class="nm mt5">
                      <% @tm = friend.rels(dir: :incoming, type: "testimonials") %>
                      <%= @tm.nil? ? 0 : @tm.count %>
                    </h4>
                  </div>
                </li>
                <% place_ids = current_user.places.map { |p| p.place_id } %>
                <% @locations = friend.places.where(place_id: place_ids) %>
                                    <li>
                                        <div class="section">
                                            <h4 class="nm">
                                              <i class="ico-map-marker icon-red-lite img-responsive center_block icon-font-35"></i></h4>
                                            <h4 class="nm mt5"><%= @locations.nil? ? 0 : @locations.count %></h4>
                                        </div>
                                    </li>                                    
                                    <li>
                                        <div class="section">
                                            <h4 class="nm">
                                              <i class="ico-star icon-ubuntu img-responsive center_block icon-font-35"></i></h4>
                                              <% @interests = friend.userInterests %>
                                            <h4 class="nm mt5"><%= @interests.nil? ? 0 : @interests.count %></h4>
                                        </div>
                                    </li>
              </ul>
              <!--/ Nav section -->
            </div>
            <!--/ panel body -->
          </div>
          <!--/ END Widget Panel -->
          <!--/row-->
        </div>
<%=link_to "chat", controller: 'conversations', action: 'start_conversation', :id => friend.uuid, method: :post %>

        <script type="text/javascript">


                    $('.gallery').each(function() { // the containers for all your galleries
                      $(this).magnificPopup({
                          delegate: 'a', // the selector for gallery item
                          type: 'image',
                              mainClass: 'mfp-with-zoom', // this class is for CSS animation below

                              zoom: {
                                enabled: true, // By default it's false, so don't forget to enable it

                                duration: 300, // duration of the effect, in milliseconds
                                easing: 'ease-in-out', // CSS transition easing function 

                                // The "opener" function should return the element from which popup will be zoomed in
                                // and to which popup will be scaled down
                                // By defailt it looks for an image tag:
                                opener: function(openerElement) {
                                  // openerElement is the element on which popup was initialized, in this case its <a> tag
                                  // you don't need to add "opener" option if this code matches your needs, it's defailt one.
                                  return openerElement.is('img') ? openerElement : openerElement.find('img');
                                }
                              },
                              gallery: {
                                enabled:true
                              }
                            });
    }); 
      $(function(){
      });
    </script>

    </div>
    <% end %>      
  <% if false %>
    <h5 class="header text-center semibold nm">
      <a   href="javascript:void(0);">No more people around you right now...</a>
    </h5>
  <% end %>      

  <script type="text/javascript">
    $(".like").click(function(){
      if ($(this).children("i").hasClass( "icon-red" )) {
        $(this).children("i").removeClass("icon-red");
        $(this).children("i").addClass("icon-white");
      } else{
        $(this).children("i").addClass("icon-red");
        $(this).children("i").removeClass("icon-white");
      };
    });

  </script>